@{
    ViewBag.Title = "Under Construction";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This Page Is Under Construction.
    </p>

</article>
